*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: #ffc107;
    text-shadow: #FC0 1px 0 10px;
}
p{
    font-weight: 600;
}
.quiz{
    background: url('https://wallpaperaccess.com/full/17368.jpg');
    background-size: cover;
    height: 100vh;
}
.contain{
    width: 42rem;
    height: 46rem;
    background: #076f84;
    border-radius: 15px;
} 
.score{
    width: 5rem;
    height: 5rem;
    background-color: #ffc107;
    border-radius: 5rem;
    display: flex;
    font-weight: bold;
}
.timmer{
    width: 5rem;
    height: 5rem;
    background-color: #ffc107;
    border-radius: 5rem;
    display: flex;
    font-weight: bold;
}
.questions{
    width: 25rem;
    height: 12rem;
    background-color: #ffc107;
    border-radius: 4rem;
    margin-top: 5rem;
    display:flex;
}
.btn{
    width: 24rem;
    height: 4rem;
    background-color: white;
    margin: 5px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .answers2{
    width: 24rem;
    height: 4rem;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.answers3{
    width: 24rem;
    height: 4rem;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.ValidReponse{
    background-color: rgb(26, 161, 121)!important;
}
.NotValidReponse{
    background-color: rgb(220, 63, 59)!important;
}